<% if(typeof errors !=='undefined' ) { %>
    <% errors.forEach(err=> { %>
        <div class="bg-red-300 rounded-lg p-1 flex justify-between items-center my-1">
            <p>
                <%= err.message %>
            </p>
            <button>close</button>
        </div>
        <% }) %>
            <% } %>

                <% if(success !=='' ) { %>
                    <div>
                        <p>
                            <%= success %>
                        </p>
                    </div>
                    <% } %>

                        <% if(fail !=='' ) { %>
                            <div>
                                <p>
                                    <%= fail %>
                                </p>
                            </div>
                            <% } %>

                                <% if(locals.error) { %>
                                    <% error.forEach(function(err){ %>
                                        <div class="flex justify-between w-full items-center bg-red-400 text-white p-1 rounded-lg">
                                            <p>
                                                <%= err %>
                                            </p>
                                            <button class="block bg-black cursor-pointer">
                                                close
                                            </button>
                                        </div>
                                        <% }); %>
                                            <% } %>